* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: #333;
}

/* SIGNUP */
.container {
  display: flex;
  height: 100vh;
  width: 80%;
  margin: 40px auto;
  background: white;
}

/* LEFT SIDE */
.left {
  width: 50%;
  background: #b88d5c;
  color: #fff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 60px;
  left: 180px;
  font-size: 20px;
  letter-spacing: 2px;
}
.logo a{
  text-decoration: none;
  color: inherit;
}

.auth-links {
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 1px;
}

.auth-links a {
  text-decoration: none;
  margin-right: 15px;
  opacity: 0.6;
  cursor: pointer;
  color: inherit;
}

.auth-links .active {
  opacity: 1;
  border-bottom: 1px solid #fff;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 40px;
  opacity: 0.8;
  max-width: 350px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #fff;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

button {
  padding: 12px;
  border: none;
  background: #fff;
  color: #b88d5c;
  cursor: pointer;
  font-weight: bold;
}

/* RIGHT SIDE */
.right {
  width: 50%;
  position: relative;
  background: #e9efef;
}

.nav {
  position: absolute;
  top: 20px;
  right: 40px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #999;
  font-size: 14px;
}

.image {
  width: 100%;
  height: 100%;
  background: url('img/img1.png') center/contain no-repeat;
}

/* LOGIN */
.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.extra label {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.extra input[type="checkbox"] {
  accent-color: #fff;
  margin: 0;
}

.extra a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

.extra a:hover {
  text-decoration: underline;
}